
.css-et1ao3-MuiTypography-root {
    margin: 0;
    font-weight: 600 !important;
    font-size: 20px !important;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    display: block;
}

/* body{
    background-image: linear-gradient(to right top, #003855, #263b53, #383f50, #43444d, #4a4a4a);
} */